body{
background: url(https://images.wallpaperscraft.ru/image/single/gory_ozero_vershiny_vid_sverkhu_119133_1600x900.jpg) no-reapit;
}
.text{
  color: white;
  margin-top: 27%;
}
.text12{
  margin-left: 70%;
  color: white;
}
